/* <p style={{color:"#eaece5", fontVariant:"bold", fontSize:25}}>color1</p>
<p style={{color:"#b2c2bf", fontVariant:"bold", fontSize:25 }}>color2</p>
<p style={{color:"#c0ded9", fontVariant:"bold", fontSize:25}}>color3</p>
<p style={{color:"#3b3a30", fontVariant:"bold", fontSize:25}}>color3</p> */



body{
    background-color: #E4F1F6 ;
}

h1{
    font-family: Arial, Helvetica, sans-serif; 
    color:#347B98;
      font-style: italic;
      font-weight: bolder;
}
h3{
    color:#347B98;
    font-size: 1.5em;
}
h1{
    font-size: 2em;
    margin-bottom: 10px;
}
h2{
    font-size: 3em;  
    margin-top: 10px;
 
}
.HomeDiv{
    padding: 50px 50px 50px 150px;
    margin: 37px 50px 0px 50px;
}
